:root {
  --primary: #0f172a;
  --secondary: #020617;
  --light-blue: #38bdf8;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  font-family: Arial;
  background: var(--primary);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary);

  padding: 10px 60px;
}

footer {
  margin-top: auto;
  padding: 20px;
  text-align: center;
  background: var(--secondary);
}

.link {
  display: inline-block;
  transition:
    transform 0.2s ease,
    color 0.2s ease;

  color: white;
  text-decoration: none;

  margin-left: 20px;
}

.link:hover {
  color: var(--light-blue);
  transform: scale(1.2);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 100px 60px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h2 {
  font-size: 48px;
}

.hero-text p {
  font-size: 18px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  display: inline-block;
  transition:
    transform 0.2s ease,
    color 0.2s ease;

  padding: 5px 15px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 6px;
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.3);
}

.primary {
  background: var(--light-blue);
  color: black;
}

.secondary {
  background: #002839;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
}

.hero-media img {
  width: 500px;
  animation: scale-image 10s ease-in-out infinite;
}

@keyframes scale-image {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1) rotate(2deg);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px 20px;
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
  }

  .hero-text h2 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-media img {
    margin-top: 100px;
    max-width: 300px;
  }

  .features {
    flex-direction: column;
    padding: 40px 20px;
  }

  .feature {
    margin: 10px 0;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  header {
    padding: 10px 40px;
  }

  .hero {
    flex-direction: column;
    padding: 80px 40px;
  }

  .hero-text h2 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 17px;
  }

  .hero-media img {
    margin-top: 100px;
    width: 400px;
  }

  .features {
    flex-wrap: wrap;
    padding: 50px 40px;
  }

  .feature {
    flex: 1 1 45%;
    margin: 15px;
  }
}

@media (min-width: 1025px) {
  header {
    padding: 10px 80px;
  }

  .hero {
    flex-direction: row;
    padding: 120px 80px;
  }

  .hero-text h2 {
    font-size: 48px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .hero-media img {
    width: 500px;
  }

  .features {
    flex-wrap: nowrap;
    padding: 60px 80px;
  }

  .feature {
    margin: 20px;
  }
}
